/* Reset & base */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  background-color: #ffffff;
}

a {
  color: #005fcc;
}

img {
  /* max-width: 100%; */
  width: 100px;
  height: 100px;
}

/* Header */
.site-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f4f4f4;
}

/* Navigation */
.main-nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0.5rem;
  margin: 0;
  background-color: #1f2937;
}

.main-nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

/* Content */
.content {
  padding: 1rem;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
.hero-image img {
  width: 80%;
  height: auto;
}
.hero-text {
  position: absolute;
  background-color: #f4f4f4;
  color: #0077aa;
  bottom: 2rem;
  opacity: 0.9;
  width: 35%;
  /* height: 200px; */
  

  /* padding: 1rem; */
}
h4,h3{
    margin: 0;
    padding: 0.3rem;
}

.vehicle-title {
  color: #0077aa;
}

.cta-button {
  background-color: #00a8cc;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

/* combine */
.combine {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
}

/* Reviews */
.reviews {
  width: 100%;
}
.reviews ul {
  padding-left: 1.2rem;
  
}
.reviews li {
  padding-bottom: 3.0rem;

}

/* Upgrades */
 .upgrades {
   width: 100%;
  }
.upgrade-grid {
    
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.upgrade-full {
  text-align: center;
 /* background-color: green; */
}
.upgrade-item {
  text-align: center;
  justify-items: center;
  justify-content: center;
  background-color: #00a8cc;
  /* width: 250px; */
  padding: 0.5rem;
  /* height: 100px; */
}

.upgrade-item a {
  display: block;
  color: #ffffff;
  font-weight: bold;
  margin-top: 0.5rem;
}

/* Footer */
.site-footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1rem;
}



@media screen and (min-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }

  .content {
    max-width: 1100px;
    margin: 0 auto;
  }

  .upgrades {
    flex:auto;
    flex-direction: column;
    width: 50%;

  }
  .combine{
    display: flex;
    flex-direction: row;
  }
  /* Reviews */
.reviews {
  width: 50%;
}

.hero-text {
 position: absolute;
  background-color: #f4f4f4;
  color: #0077aa;
  left: 0;
  bottom: 10rem;
  opacity: 0.9;
  width: 15%;
}

}
